<!-- IF S_ELONW -->
<script type="text/javascript">
var source=removeSubdomain(location.hostname);

(function($) {
	'use strict';
	$(document).on('click',('a'), function() {
		var href = $(this).attr('href');
		var hostname = this.hostname;
		if(hostname && removeSubdomain(hostname)!==source)
		{
			window.open(href);
			return false;
		}
	});	

	$('.forum_link').each(function(){
		$(this).find('a').attr("onclick","window.open(this.href);return false;").attr("rel", "nofollow");
	});	
})(jQuery);
function removeSubdomain(a,b){return a.split(".").slice(-(b||2)).join(".")};
</script>
<!-- ENDIF -->
